@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Smooch&family=Zen+Loop&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

nav ul li{
    list-style: none; 
    padding-top: 1.8rem;
    padding-bottom: 1.6rem;
    font-size: 1.8rem;   
}

.navbar li a{
    text-decoration: none;
    color: white;
}

.navbar .infoname{
    font-size: 1.6rem;
    color: #B4FF9F;
    display: flex;
    align-items: center;
    padding: 2.2px;    
    margin-left: -1rem;
    border-radius: 1.5rem;
    font-weight: bold; 
    transition: transform 0.2s;   
}

.navbar .infoname:hover{
    transform: scale(0.9);
    background-color: crimson; 
    COLOR: #B6FFCE;     
}

.navbar .infoname i{
    display: flex;    
    color: #9FC088;
    font-size: 3rem;
    background-color: white;
    margin-right: 1rem;    
    border-radius: 30px;
}

div{
    overflow:hidden;    
}

.container{
    display: flex; 
}

.sidebar{
    background-color: crimson;
    font-family: 'Macondo', cursive;
    width: 20rem;    
    height: 100vh;
}

.sidebar nav{
    padding: 1.4rem;
} 

nav a:hover{
    background-color: white;
    padding: 0.8rem;
    border-radius: 18px;
    color: crimson;
}

.main{
    background-color: #92B4EC;
    width: 100vw;    
    height: 100vh;
    position: relative;
}

.infocontainer{   
    align-items: center;
    display: flex;        
    position:absolute;
    top: 15%;

    margin: 20px; 
    margin-left: 12em;   
    justify-content: space-around;
    flex-wrap: wrap;        
    transition: all 0.2 linear;   
}

.devpic{
    margin-left: 1.6em;      
}

.devinfo{        
    padding: 0.6em;
    font-family: 'Zen Loop', cursive;
    font-weight: bold;
    width: 14em;
    
    border-radius: 15px;
    box-shadow: 4px 3px 12px rgb(54, 49, 49);
    background-color:#9FC088;
    font-size: 2em;           
}

.devpic{
        background-color: #92B4EC;
        margin-left: 3.5em;
        box-shadow: none;
}

.devd{
    box-shadow: inset 0 2pc 2px rgb(240, 167, 94);
    box-shadow: 4px 3px 12px rgb(54, 49, 49);
}

.colmn{
    display:flex;
    flex-direction: column;
}

.sidebarGo{
    transform: translate(-443px, 0px);
    position: absolute; 
}

.menu{
    background-color: #bc94f0; 
    cursor: pointer;     
}

.hide{
    padding-top: 5px;
    position: absolute;
    height: 1.8em;
    width: 6.5em;    
    display: flex;
}

.ham{
    width: 20px;
    height: auto;
}

.cross{
    width: 20px;
    /* margin-left: 14em; */
    height: auto;
}

.devinfo ul{
    width: 100%;    
    font-weight: bold;
    list-style: none;
}

.icon{
    height: auto;    
    width: 2.2rem;
    margin-left: -0.2em;    
}

.hi{
    transform: rotate(-5.7deg);
    font-family: 'Smooch', cursive;
    margin-right: 34em;
    margin-bottom: auto;
    display: inline-block;
    padding: 2px;
}

.btn{    
    cursor: pointer;
    padding: 2px;
    margin: 20px;    
    
    border-radius: 16px;
    width: 9em;            
    align-items: center;
    background-color: crimson;

    font-size: 1em;
    font-weight: bold;
    color: white;
    height: 3em;    
    font-family: 'Macondo', cursive;

    margin-left: 8em;
    box-shadow: 4px 3px 12px rgb(54, 49, 49);
    width: 12em;  
    height: 4em;
}

.btn:hover{
    background-color: white;
    color: crimson;
}

.btns{
    margin-top: 3.4em;
}

.btns .icon,.btn a{
    transform: width 0.2s;   
    font-size: 1.2em;    
}

.btns .icon:hover, a:hover{
    transform: scale(1.4);    
}

/* scrollbar styling */
html::-webkit-scrollbar {
    width: 12px; 
  }
  
html::-webkit-scrollbar-track {
    background:  linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(7, 0, 211, 1) 100%);
  }

html::-webkit-scrollbar-thumb {
    background: transparent;
    box-shadow: 0px 0px 0px 100vh black;
  }

.imgicon{
    position: absolute;
    top: 0px;
    left: 0px;
    object-position: center center;

    opacity: 1;
    transition: opacity 500ms ease 0s;
    user-select: auto;
}
